body {
	font-family: sans-serif;
}

h1 {
	font-variant: small-caps;
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
}

a, a:visited {
	color: blue;
}

a.collapsable {
	font-size: larger;
	font-weight: bolder;
	text-decoration: none;
	font-family: Courier
}